<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Registration Successful</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!-- Glow Background -->
    <div class="glow"></div>

    <div class="container">

        <h1>
            Registration Successful
        </h1>

        <div class="success-message">

            <p>
                Student registered successfully into
                14 TN Battalion NCC.
            </p>

            <br>

            <a href="/">

                <button>
                    Register Another Student
                </button>

            </a>

        </div>

    </div>

</body>
</html>